{% extends "layout.html" %}


{% block title %}
    myEXPENSES Tracker - Summary
{% endblock %}


{% block main %}

    <!--Include application table for user to see, which class is from bootstrap-->
    <div class="col-xs-10 col-sm-6 col-md-6">
        <h3>Summary</h3>
        <br>
    </div>
    <table class="table table-hover table-striped table-dark">
        <thead class="table-header">
            <tr>
                <th>No</th>
                <th>Type</th>
                <th>Category</th>
                <th>Amount</th>
                <th>Date Added</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            {% for input in transactions %}
            {% include 'helpers/modal.html' %}
            <tr>
                <th scope="row">{{loop.index}}</th>
                <td>{{ input.type }}</td>
                <td>{{ input.category }}</td>
                <td>${{ input.amount }}</td>
                <td>{{ input.date_added.strftime("%d-%m-%Y") }}</td>

                <td><a href="" class="btn btn-light"
                       data-toggle="modal" data-target="#popup-{{ input.id }}">
                    <i class="fa fa-info" aria-hidden="true"></i></a>
                </td>

                <td><a href="{{ url_for('edit', input_id=input.id) }}" class="btn btn-light">
                   <i class="fa fa-wrench" aria-hidden="true"></i> Edit</a>
                </td>

                <td><a class="btn btn-danger" href="" data-toggle="modal" data-target="#prompt-{{ input.id }}">
                    <i class="fa fa-trash" aria-hidden="true"></i> Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>

        <tfoot>
            <tr>
                <td colspan="4"></td>
            </tr>
        </tfoot>
    </table>
{% endblock %}
