a {
  font-family: 'Montserrat', sans-serif;
  color: #FF0000;
  font-weight: bold;
}

.alert-text {
    color: red;
}

body {
    background: #f4f4f4;
    background-image: linear-gradient(to top left, #8a4592, #35b0a9);
}

.bottom-container{
  color: white;
  padding-bottom: 50px;
}

canvas {
  background: #F5FFFA;
}

.canvas-spec {
    border: 2px solid black;
}

.card {
     border: 2.5px solid black;
     text-align: center;
 }

.chart {
    text-align: center;
    margin: auto;
}

.form-text {
    color: #11999E;
    font-weight: bold;
}

h3 {
    text-align: center;
    margin-top: 0;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 40px;
    font-weight: bold;
}

img {
    border-bottom: 2.5px solid black;
}

p {
    text-align: center;
}

.row {
    margin-top: 60px;
}

.table-header{
    background-color: #008b8b;
}

.underline-hover:hover {
    text-decoration: underline;
}
